@import "../node_modules/bootstrap/scss/bootstrap";

.small-icon {
  height: 50px;
}

.speaker-img-bg {
  position: absolute;
  background: url(/capstone-1-HTML-CSS-JS/assets/img/speaker-bg.svg) no-repeat left top;
  background-size: cover;
  width: 80px;
  height: 80px;
  z-index: -10;
}

.speaker-img {
  width: 120px;
}

.spacer {
  display: inline-block;
  background-color: $primary;
  width: 100px;
  height: 1px;
}

.cc-logo {
  width: 50px;
}

.generic-logo {
  width: 150px;
}

.bg-lightgray {
  background-color: $gray-700;
}

.border-lightgray {
  border-color: $gray-700;
}

.bg-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.5);
}

#img-overlay-1 {
  background: url(/capstone-1-HTML-CSS-JS/assets/img/overlay-1.jpg) no-repeat center center;
  background-size: cover;
}

#img-overlay-2 {
  background: url(/capstone-1-HTML-CSS-JS/assets/img/overlay-2.jpg) no-repeat center center;
  background-size: cover;
}

.bg-pattern-1 {
  background: url(/capstone-1-HTML-CSS-JS/assets/img/bg-decoration2.svg) repeat;
}

.bg-mod {
  background-color: rgba(0, 0, 0, 0.7);
}

.bg-hero {
  background: url(/capstone-1-HTML-CSS-JS/assets/img/hero.svg) no-repeat center center;
  background-color: rgb(222, 217, 214);
}

.dk-hidden {
  display: block;
}

.mobile-hidden {
  display: none;
}

.nav-link {
  color: $primary;
  transition: color 0.5s;
}

.nav-link:hover {
  color: $blue;
}

@media screen and (min-width: 700px) {
  .dk-width {
    max-width: 1000px;
  }

  .dk-text {
    max-width: 600px;
  }

  .dk-gallery {
    max-width: 150px;
  }

  .dk-hidden {
    display: none;
  }

  .mobile-hidden {
    display: block;
  }

  .dk-img-width {
    width: 350px;
    height: 350px;
  }
}
