// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

.small-icon {
  height: 50px;
}

.speaker-img-bg {
  position: absolute;
  background: url(/assets/img/speaker-bg.svg) no-repeat left top;
  background-size: cover;
  width: 80px;
  height: 80px;
  z-index: -10;
}

.speaker-img {
  width: 120px;
}

.spacer {
  display: inline-block;
  background-color: $primary;
  width: 100px;
  height: 1px;
}

.cc-logo {
  width: 50px;
}

.generic-logo {
  width: 250px;
}

.bg-lightgray {
  background-color: $gray-700;
}

.border-lightgray {
  border-color: $gray-700;
}

.bg-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.5);
}

#img-overlay-1 {
  background: url(/assets/img/overlay-1.jpg) no-repeat center center;
  background-size: cover;
  height: 250px;
}

#img-overlay-2 {
  background: url(/assets/img/overlay-2.jpg) no-repeat center center;
  background-size: cover;
  height: 250px;
}